package.json
package-lock.json
tests/
# Devion Build Artifacts
dist/

# Python artifacts
*.pyc
__pycache__/
*.egg-info/
.coverage

# Node artifacts
node_modules/
npm-debug.log

# Temporary user files
m.txt
